<div class="row center-xs outter_container" id="about_container">
    <div class="row col-xs-11 col-md-9 center about-frame" id="about_frame_1">
        <div class="col-md-4 text_align_left" id="about_text_1">
          <h1>ABOUT YOOX NET-A-PORTER GROUP</h1>
        </div>
        <div class="col-md-8 text_align_left" id="about_text_2">
          <p>
            YOOX NET-A-PORTER GROUP is the global Internet retailing partner for leading fashion & design brands. It has established itself amongst the market leaders with the multi-brand stores yoox.com, thecorner.com and shoescribe.com, as well as with numerous mono-brand online stores all “Powered by YNAP”. The Group has offices and operations in the United States, Europe, Japan, China and Hong Kong and delivers to more than 100 countries worldwide.
          </p>
        </div>
    </div>
    <div class="row col-xs-11 col-md-9 about-frame outter_container" id="about_frame_2">
        <div class="col-md-4 text_align_left" id="what_we_do_1">
          <h2>What we do</h2>
        </div>
        <div class="col-md-8" id="what_we_do_2">
          <h3>some of our work</h3>

          <ul id="portfolio">
            <li>marni.com</li>
            <li>diesel.com</li>
            <li>valentino.com</li>
            <li>moschino.com</li>
            <li>robertocavalli.com</li>
            <li>dolcegabbana.com</li>
            <li>zegna.com</li>
            <li>trussardi.com</li>
          </ul>
          <div class="col-md-8 text_align_left">
            <a href="#" id="portfolio_link">Click here to download a PDF of our recent works</a>
          </div>
        </div>
    </div>
</div>
