<div class="row center-xs outter_container" id="contact_container">
  <div class="row col-xs-11 col-md-9" id="contact_tittle">
    <div class="col-xs-12 col-md-offset-4 col-md-8 contact_form_container">
      <h2>Contact</h2>
      <p>
        For more information about the services we offer, and how we can work with you, please provide us with the following items of information. Fields marked by * are required
      </p>
      <div class="form_container row col-xs-12">
        <form class="row col-xs-12 contact-form" name="contactForm" action="/" method="post">
          <span class="row middle-md contact_field"><label for="name">Contact Name*: </label><span data-tooltip="What's your Name?"><input id="name" class="input_field" type="text" name="name" placeholder="Nice to meet you!" required /></span></span>
          <span class="row middle-md contact_field"><label for="email">Contact Email Address*: </label><span data-tooltip="What's your Email?"><input id="email" class="input_field" type="email" name="email" placeholder="tuoemail@ynap.com" required /></span></span>
          <span class="row middle-md contact_field"><label for="num">Contact Phone Number: </label><span data-tooltip="What's your Contact Number?"><input id="num" class="input_field" type='tel' name="num" placeholder="We won't bother you, don't worry." /></span></span>
          <span class="row submit contact_field "><input id="submit" class="button" type="button" name="name" value="SEND" /></span>
        </form>
      </div>
    </div>
  </div>
</div>
